<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10Ahowardm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= render 'layouts/header'  %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
